@import url('https://fonts.googleapis.com/css2?family=Jua&family=Rubik+Bubbles&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
  background: url(../img/landscape-1844226_1280.png) no-repeat center;
  background-size: cover;
  font-family: 'Jua', sans-serif;
}

html, body {
	height: 100%;
}

#container {
	width: 900px;
	margin: 0 auto;
	height: 100%;
}

.wrapper {
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.html_answer {
  margin-bottom: 20px;
}

.answer {
  background: white;
  padding: 20px;
}

.logo:hover {
	opacity: 0.7;
}